@model IEnumerable<DesafioBenner.Models.ControleEstacionamento>

@{
    ViewData["Title"] = "Parking Car - Controle Estacionamento";
}

<p>
    <a class="btn-success btn" asp-action="Create">Registrar Entrada</a>
</p>

@using (Html.BeginForm("IndexFilter", "ControleEstacionamento", FormMethod.Get))
{
    <p>
        <input type="text" name="busca" placeholder="Procurar pela placa">
        <button type="submit">Buscar</button>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tempo_entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tempo_saida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasTotais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minutos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor_hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor_adicional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor_final)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tempo_entrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tempo_saida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasTotais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minutos)
            </td>
            <td>
                R$ @Html.DisplayFor(modelItem => item.Valor_hora)
            </td>
            <td>
                R$ @Html.DisplayFor(modelItem => item.Valor_adicional)
            </td>
            <td>
                R$ @Html.DisplayFor(modelItem => item.Valor_final)
            </td>
            <td>
                <a class="btn-warning btn" asp-action="Edit" asp-route-id="@item.Id">Registrar Saída</a> 
                    <a class="btn-danger btn" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
