@model DesafioBenner.Models.Precos

@{
    ViewData["Title"] = "Excluir Preço";
}

<h3>Confirmação de Exclusão de Preço</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_inicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_inicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_adicional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_adicional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_inicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_inicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_final)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_final)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <br /><br />
        <a asp-action="Index">Voltar</a>
    </form>
</div>
