@model IEnumerable<DesafioBenner.Models.Precos>

@{
    ViewData["Title"] = "Controle de Preços";
}

<p>
    <a class="btn-success btn" asp-action="Create">Cadastrar Preço</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valor_inicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor_adicional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_inicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_final)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Valor_inicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor_adicional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_inicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_final)
            </td>
            <td>
                <a class="btn-warning btn" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn-danger btn" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
